<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chat.androidclient">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- bugly 权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!--  -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/fsf"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DayTheme">

        <!-- bugly 配置 -->
        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="bfa8de2062"/>
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1"/>
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="Bugly"/>
        <!-- 配置Bugly调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true"/>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent"/>
        <!--  -->
        <activity
            android:name=".mvvm.view.activity.SplashAvtivity"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvvm.view.activity.LoginActivity"
            android:theme="@style/fullscreen"/>
        <activity
            android:name=".mvvm.view.activity.MainActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".mvvm.view.activity.SignUpActivity"
            android:theme="@style/signupstyle">
        </activity>
        <activity
            android:name=".mvvm.view.activity.ChatActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity android:name=".mvvm.view.activity.SearchActivity">
        </activity>
        <activity android:name=".mvvm.view.activity.SearchPersonActivity">
        </activity>
        <activity
            android:name=".mvvm.view.activity.FriendDetailActivity"
            android:theme="@style/profilestyle">
        </activity>
        <activity android:name=".mvvm.view.activity.CreateGroupActivity">
        </activity>
    </application>

</manifest>